<header>
  <div class="d-flex align-items-center">
    <div class="logo me-3">
      <%= image_tag 'https://avatars.githubusercontent.com/u/133672174?v=4', alt: "text"%>
    </div>
    <div class="nav">
      <ul class="d-flex">
        <li class="me-3"><a href="#">Content</a></li>
        <li class="me-3"><a href="#">Projects</a></li>
        <li><a href="#">Resume</a></li>
      </ul>
    </div>
  </div>
</header>
