<div class="project-card d-flex align-items-center justify-content-center">
  <%= image_tag 'https://avatars.githubusercontent.com/u/133672174?v=4', alt: "text", class: "card-pic" %>
  <div class="text p-5 align-items-center justify-content-center">
    <p>Hello world hello world Hello world hello world Hello world hello world Hello world hello world Hello world hello world Hello world hello world</p>
  </div>
</div>
