<div id="background"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.21/vanta.globe.min.js"></script>
<script>
  VANTA.GLOBE({
    el: "#background",
    color: 0x6a4c93,
    color2: 0xff3f81,
    backgroundColor: 0x1d1b1d,
    size: 1.6,
    speed: 0.2
  });
</script>
<div class="content">
  <div class="row w-100 h-100">
    <div class="col-md-6 d-flex align-items-center justify-content-start h-100">
      <%= render 'cta_card' %>
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-center h-100"></div>
  </div>
</div>
