<!-- app/views/your_controller_name/home.html.erb -->
<div id="background"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanta/0.5.21/vanta.globe.min.js"></script>
<script>
  VANTA.GLOBE({
    el: "#background",
    color: 0x6a4c93,
    color2: 0xff3f81,
    backgroundColor: 0x0E0F0F,
    size: 1.6,
    speed: 0.2
  });
</script>
