.res-button {
  text-align: center;
  display: block;
  background-color: #6A4C93;
  border-radius: 24px;
  box-shadow: 0 0 24px 2px #1c1c1c;
  padding: 12px;
  width: 50%;
  height: auto;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 400;
  transition: all 0.5s ease;

  &:hover {
    box-shadow: 0 0 24px 6px #1c1c1c;
    background-color: #FF3F81;
  }
}
