.project-card {
  height: 200px;
  background-color: #272427;
  border-radius: 24px;
  box-shadow: 0 0 50px 1px #000000;
  transition: all 1s ease;

  &:hover {
    background-color: #1e1b1e;
    transform: scale(1.005);
  }

  .proj-head {
    font-weight: 700;
    color: white;
    font-size: 24px;
    transition: color 1s ease;

    &:hover {
      color: #FF3F81;
    }
  }

  .proj-p {
    color: rgb(131, 130, 132);
    font-size: 16px;
  }
}

.card-pic {
  width: 100%;
  height: auto;
  border-radius: 18px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.stack-pic {
  border-radius: 20%;
  width: 30px;
  height: 30px;
}

/* Responsive Styling */

.custom-card-width {
  flex: 0 0 30%;
  max-width: 30%;
}

@media (max-width: 768px) {
  .project-card {
    margin: 0 20px;
  }
  .custom-card-width {
    flex: 0 0 45%;
    max-width: 45%;
  }
}

@media (max-width: 576px) {
  .custom-card-width {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 360px) {
  .project-card {
    margin: 0 30px 20px 30px;
    height: 150px;
    border-radius: 16px;
  }

  .proj-head {
    font-size: 20px;
  }

  .proj-p {
    font-size: 14px;
  }
}
